@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}




* {
  font-family: "Poppins", sans-serif;
}
